openapi: 3.0.0
info:
  title: Yokdolan - Misi Budaya Jatim API
  description: API Spesifikasi lengkap untuk Modul Wisatawan, Mitra Ekraf, Pemilik Wisata, dan Admin Yokdolan.
  version: 1.0.0
servers:
  - url: https://api.yokdolan.id/api/v1
    description: Production Server

tags:
  - name: 1. Auth & Umum
    description: Registrasi dan Login untuk semua peran.
  - name: 2. Modul Wisatawan
    description: Endpoint untuk pengguna akhir (Gamifikasi, Misi, Reward).
  - name: 3. Modul Mitra Ekraf
    description: Endpoint untuk Tuan Rumah Misi (Manajemen Misi & Validasi).
  - name: 4. Modul Pemilik Wisata
    description: Endpoint untuk Channel Owner (Kurasi Channel & Mitra).
  - name: 5. Modul Admin Super
    description: Endpoint untuk Pengawasan Operasional dan Verifikasi Lembaga.

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

paths:
  # --- 1. AUTH & UMUM ---
  /register:
    post:
      tags: [1. Auth & Umum]
      summary: Registrasi Wisatawan (Pengguna Biasa)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: {type: string}
                email: {type: string}
                password: {type: string}
      responses:
        '200': {description: Registrasi berhasil}
  /login:
    post:
      tags: [1. Auth & Umum]
      summary: Login untuk Semua Peran (Wisatawan, Mitra, Owner)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: {type: string}
                password: {type: string}
      responses:
        '200': {description: Login berhasil, mengembalikan token dan role}

  # --- 2. MODUL WISATAWAN ---
  /dashboard:
    get:
      tags: [2. Modul Wisatawan]
      summary: Dashboard Beranda Wisatawan
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Data dashboard (saldo PV, Channel terbaru)}

  /channels:
    get:
      tags: [2. Modul Wisatawan]
      summary: Daftar Channel Wisata (Channel Explorer)
      responses:
        '200': {description: Daftar Channel yang aktif}

  /missions:
    get:
      tags: [2. Modul Wisatawan]
      summary: Daftar Misi Berdasarkan Channel
      parameters:
        - in: query
          name: channel_id
          schema: {type: string}
      responses:
        '200': {description: Daftar misi tersedia}

  /mission/claim:
    post:
      tags: [2. Modul Wisatawan]
      summary: Validasi Misi Instan (Scan QR)
      security: [{bearerAuth: []}]
      description: Mengklaim PV/Akumulasi setelah memindai QR Code di lokasi Mitra.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mission_token: {type: string, description: Token dari QR Code hasil scan}
      responses:
        '200': {description: Poin berhasil ditambahkan}

  /rewards:
    get:
      tags: [2. Modul Wisatawan]
      summary: Katalog Produk Spesial (Reward Catalog)
      responses:
        '200': {description: Daftar reward yang dapat ditukar}

  /rewards/redeem:
    post:
      tags: [2. Modul Wisatawan]
      summary: Penukaran Poin Value dengan Reward
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reward_id: {type: string}
      responses:
        '200': {description: Penukaran berhasil, voucher_code diterbitkan}

  # --- 3. MODUL MITRA EKRAF ---
  /partner/register:
    post:
      tags: [3. Modul Mitra Ekraf]
      summary: Registrasi Mitra Ekraf (Pending Verifikasi)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: {type: string}
                business_name: {type: string}
                bank_account: {type: string}
      responses:
        '200': {description: Registrasi berhasil, menunggu verifikasi Admin}

  /partner/dashboard:
    get:
      tags: [3. Modul Mitra Ekraf]
      summary: Dashboard Kinerja Mitra Ekraf
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Data KPI (Poin dikeluarkan, Validasi diterima)}

  /partner/missions:
    post:
      tags: [3. Modul Mitra Ekraf]
      summary: Membuat Misi Baru (Template-Based)
      security: [{bearerAuth: []}]
      description: Mengajukan Misi Lokal baru (Transaksi/Interaksi/Promosi)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                channel_id: {type: string}
                mission_type: {type: string}
                reward_points: {type: integer}
      responses:
        '200': {description: Misi berhasil dibuat, menunggu kurasi Channel Owner}

  /partner/rewards:
    post:
      tags: [3. Modul Mitra Ekraf]
      summary: Menambahkan Produk Spesial ke Katalog Reward
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_name: {type: string}
                points_cost: {type: integer}
      responses:
        '200': {description: Produk Reward berhasil ditambahkan}

  /partner/validations/confirm:
    post:
      tags: [3. Modul Mitra Ekraf]
      summary: Konfirmasi Penukaran Voucher (Validasi Reward)
      security: [{bearerAuth: []}]
      description: Tombol Sekali Klik untuk memvalidasi voucher Wisatawan.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                voucher_code: {type: string}
      responses:
        '200': {description: Voucher berhasil dikonfirmasi dan dicatat}

  # --- 4. MODUL PEMILIK WISATA ---
  /owner/channels:
    post:
      tags: [4. Modul Pemilik Wisata]
      summary: Registrasi dan Pembuatan Channel Wisata Baru
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                channel_name: {type: string}
                location_name: {type: string}
      responses:
        '200': {description: Channel berhasil dibuat}

  /owner/dashboard:
    get:
      tags: [4. Modul Pemilik Wisata]
      summary: Status Operasi Channel Owner
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Status operasional, total mitra aktif, permintaan verifikasi baru}

  /owner/partners/pending:
    get:
      tags: [4. Modul Pemilik Wisata]
      summary: Permintaan Verifikasi Mitra Ekraf Baru
      security: [{bearerAuth: []}]
      responses:
        '200': {description: Daftar mitra baru menunggu persetujuan (kurasi)}

  /owner/partners/{id}/verify:
    post:
      tags: [4. Modul Pemilik Wisata]
      summary: Kurasi/Verifikasi Mitra Ekraf oleh Channel Owner
      security: [{bearerAuth: []}]
      parameters:
        - in: path
          name: id
          schema: {type: string}
      responses:
        '200': {description: Mitra berhasil diverifikasi dan aktif}
        
  /owner/funds/allocate:
    post:
      tags: [4. Modul Pemilik Wisata]
      summary: Mengalokasikan Dana PV (Kuota Misi) ke Channel
      security: [{bearerAuth: []}]
      description: Mengunci sejumlah PV dari Pool Kemitraan ke Channel tertentu.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                channel_id: {type: string}
                amount_pv: {type: integer}
      responses:
        '200': {description: Alokasi dana PV berhasil dikunci}

  # --- 5. MODUL ADMIN SUPER ---
  /admin/channels/{id}/verify:
    post:
      tags: [5. Modul Admin Super]
      summary: Verifikasi Channel Wisata (Verifikasi Lembaga)
      security: [{bearerAuth: []}]
      description: Admin memverifikasi legalitas dan mengaktifkan Channel Owner.
      parameters:
        - in: path
          name: id
          schema: {type: string}
      responses:
        '200': {description: Channel Owner berhasil diverifikasi}